/* 1. General */
html {
  font-size: 62.5%;
}
body {
  background-color: #121212;
  color: #e0e0e0;
  margin: auto;
  font-family: "Manrope", sans-serif;
}

/* 2. Barra de navegacion */
.navbar {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 1rem 2rem;
  margin: 10px auto 30px;
}
/* 2.1 Barra de navegacion - Logo */
.logo {
  max-width: 160px;
}
.logo img {
  height: 60px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}
.logo:focus {
  outline: 2px solid #00d1d1;
  outline-offset: 0px;
  border-radius: 4px;
}
/* 2.2 Barra de navegacion - Menú */
.nav-menu {
  display: flex;
  gap: 2rem;
}
.nav-menu li a {
  font-size: 1.6rem;
  font-weight: 700;
  transition: color 0.3s ease;
  outline: none;
}
.nav-menu li a:focus {
  outline: 2px solid #00d1d1;
  outline-offset: 4px;
  border-radius: 2px;
}
.nav-menu li a:hover {
  color: #00d1d1; /* color acento */
}
.nav-toggle {
  display: none;
  font-size: 3rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #121212;
    position: absolute;
    top: 100%;
    right: 2rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    z-index: 100;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .nav-menu.show {
    display: flex;
  }
}

/* 3. Seccion - SLIDER */
/* 3.1. Contenedor sliders */
.contenedor-slider {
  position: relative;
  width: 90%;
  aspect-ratio: 3.3 / 1;
  overflow: hidden;
  border-radius: 12px;
  margin: 0 auto 80px;
  box-shadow: 0 4px 10px rgba(80, 78, 78, 0.5);
}
/* 3.1. Contenedor banners */
.slider-track-banner {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
/* 3.2. Contenedor slides */
.slide {
  flex: 0 0 100%; /* Cada slide ocupa el 100% del ancho del contenedor */
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* solo se aplica a elementos no a divs */
}
/* 3.3 botones slider */
.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  outline: none !important;
  transition: background 0.3s ease;
}
.btn-prev:hover,
.btn-next:hover {
  background-color: rgba(255, 255, 255, 0.1); /* fondo claro transparente */
  backdrop-filter: blur(6px); /* efecto vidrio esmerilado */
  transition: all 0.3s ease;
}
.btn-prev {
  left: 10px;
}
.btn-next {
  right: 10px;
}

/* 4. TITULO - Tienda | La mejor seleccion de peliculas */
.titulo-seccion {
  width: 90%;
  margin: 10px auto;
  font-size: 2.2rem;
  font-weight: 500;
}
.titulo-seccion .destacado {
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* 5. SECCION - PELICULAS */
/* 5.1. SECCION - PELICULAS - GRID DE PELICULAS */
.grid-peliculas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem 0.5rem;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .grid-peliculas {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .grid-peliculas {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media screen and (min-width: 1600px) {
  .grid-peliculas {
    grid-template-columns: repeat(9, 1fr);
  }
}
/* 5.2 SECCION - PELICULAS - tarjeta de peliculas */
.tarjeta-pelicula {
  position: relative;
  aspect-ratio: 2/3;
  overflow: visible;
  box-sizing: border-box;
  z-index: 1;
  transition: transform 0.3s ease;
}
.tarjeta-pelicula:hover {
  transform: scale(1.4);
  z-index: 10;
}
.tarjeta-pelicula:hover > img {
  opacity: 0;
  pointer-events: none;
}
/* 5.1.1 SECCION - PELICULAS - tarjeta de peliculas - Imagen */
.tarjeta-pelicula img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease;
}
/* 5.1 SECCION - PELICULAS - tarjeta de peliculas */
.tarjeta-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  pointer-events: none;
  opacity: 0;
  border-radius: 0.5rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}
.hover-img {
  flex: 1;
  width: 100%;
  display: block; /* para eliminar espacios debajo de la imagen */
  overflow: hidden;
}
.hover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hover-info {
  flex: 1.2;
  padding: 10px;
  line-height: 1.7;
  display: block;
  box-sizing: border-box;
}
.hover-info h3 {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 900;
}
.tarjeta-pelicula:hover .tarjeta-hover {
  opacity: 1;
  pointer-events: auto;
}
.btn-play {
  background: #e6e6e6;
  border-radius: 50%;
  padding: 3px;
  border: none;
  cursor: pointer;
  outline: none !important;
}
.btn-play:hover {
  background-color: white;
}
.estrellas {
  color: #facc15; /* dorado */
  font-size: 1.2rem;
  letter-spacing: 2px;
}

/* 6. PAGINA - HISTORIA DEL CINE */
.sec-historia-contenedor {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
/* 6. PAGINA - HISTORIA DEL CINE - CONTENEDOR IZQUIERDO */
.contenedor-historia {
  width: 30%;
  display: flex;
  flex-direction: column;
  min-width: 430px;
}
/* 6.1 PAGINA - HISTORIA DEL CINE - CONTENEDOR DE TITULOS */
.contenedor-titulos {
  display: flex;
  flex-direction: column;
}
.contenedor-titulos h1,
.contenedor-titulos h2,
.contenedor-titulos h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
}
.contenedor-titulos h1 {
  font-size: 3.2rem;
  color: #00d1d1;
  margin-bottom: -7px;
}
.contenedor-titulos h2 {
  font-size: 1.84rem;
  margin-bottom: 10px;
}
.contenedor-titulos h3 {
  font-size: 1.6rem;
  color: #d47902;
}
/* 6.2 PAGINA - HISTORIA DEL CINE -  CONTENEDOR ROMBOS*/
.contenedor-tarjetas-antecedentes {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: auto;
}
/* 6.3 PAGINA - HISTORIA DEL CINE -  CONTENEDOR = ROMBO + PARRAFO*/
.tarjeta-antecedentes {
  display: flex;
  gap: 10px;
}
/* PAGINA - HISTORIA DEL CINE -  CONTENEDOR ROMBO */
.tarjeta-antecedente-imagen {
  flex: 3;
  position: relative;
  left: -7px;
  aspect-ratio: 1 / 1;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  max-width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
/* PAGINA - HISTORIA DEL CINE -  CONTENEDOR  PARRAFO */
.tarjeta-antecedente-año {
  flex: 7;
  max-width: 300px;
  align-content: center;
  padding-right: 40px;
}
.tarjeta-antecedente-año h1 {
  font-size: 2.2rem;
  color: #d47902;
}
.tarjeta-antecedente-año h2 {
  font-size: 1.5rem;
}
.tarjeta-antecedente-año p {
  font-size: 1.2rem;
  padding-right: 20px;
}
.tarjeta-antecedente-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* 6.4 PAGINA - HISTORIA DEL CINE -  contenedor GRID*/
.contenedor-grid-tarjetas {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  align-items: center;
}
.tarjeta-grid {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 360px; /* Altura total deseada */
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(54, 56, 56);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  max-width: 350px;
  margin: auto;
}
.tarjeta-grid:hover {
  background-color: #1e1e1e;
}
.tarjeta-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.contenido {
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 1.4;
}
.contenido h1 {
  font-size: 3rem;
  margin-bottom: 3px;
}
#naranja {
  color: #d47902;
}
#celeste {
  color: #00d1d1;
}

/* 7. PAGINA - ABOUT US */
.banner-fijo {
  position: relative;
  aspect-ratio: 1.618 / 1;
  overflow: hidden;
}
.banner-fijo-fondo {
  width: 100%;
  height: 100%;
  display: block;
}
.banner-fijo-texto {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7%;
  left: 5%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
  color: #e0e0e0;
  padding: 2.5rem;
  max-width: 500px;
}
.banner-fijo-texto h2 {
  margin-bottom: 0.5rem;
}
.banner-fijo-texto h3 {
  margin-bottom: 1rem;
  font-weight: 500;
}
.banner-fijo-texto p {
  line-height: 1.6;
  margin-top: 1rem;
}

/* 8. FOOTER */
footer {
  background-color: #121212;
  color: #e0e0e0;
  text-align: center;
  padding: 3rem;
  font-size: 1.5rem;
}
#imagen-lumiere {
  filter: grayscale(1);
  object-fit: cover;
  object-position: 50% 10%;
}
#img-quinetoscopio {
  object-position: 50% 10%;
}
